# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.output/
.vinxi/
.vercel/

# Convex
.convex/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.dev.vars

# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

app.config.timestamp_*.js

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
coverage/
*.lcov
.nyc_output/
test-results/
playwright-report/
playwright/.cache/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.tmp
*.swo
*~

# TypeScript
*.tsbuildinfo

# Temporary files
tmp/
temp/

# OS
Thumbs.db
.DS_Store
.cache
.vercel
.output
.nitro
.tanstack
.wrangler